<template>
  <el-container v-loading="bookIsLoading">
    <el-header>
      <h1>{{ book && book.id ? 'Book editing' : 'Book creation'}}</h1>
    </el-header>
    <el-main>
      <div v-loading="bookIsLoading">
        <el-alert
          v-if="bookHasLoadingError"
          title="An error occurred during book loading"
          type="error"
          effect="dark"
        />
        <div v-else-if="bookIsMissing">
          Book is not found
        </div>
        <el-form
          ref="form"
          v-else-if="book"
          :model="book"
          :rules="rules"
          label-width="160px"
          class="books-form"
        >
          <el-form-item label="Title" prop="title">
            <el-input
              :value="book.title"
              @input="setBookField({ fieldLabel: 'title', value: $event })"
            />
          </el-form-item>
          <el-form-item label="Author name" prop="authorName">
            <el-input
              :value="book.authorName"
              @input="setBookField({ fieldLabel: 'authorName', value: $event })"
            />
          </el-form-item>
          <el-form-item label="Author surname" prop="authorSurname">
            <el-input
              :value="book.authorSurname"
              @input="setBookField({ fieldLabel: 'authorSurname', value: $event })"
            />
          </el-form-item>
          <el-form-item label="Number of pages" prop="pageCount">
            <el-input
              :value="book.pageCount"
              @input="setBookField({ fieldLabel: 'pageCount', value: Math.trunc($event) })"
              :precision="0"
              :controls="false"
            />
          </el-form-item>
          <el-form-item label="Publisher" prop="publisher">
            <el-input
              :value="book.publisher"
              @input="setBookField({ fieldLabel: 'publisher', value: $event })"
            />
          </el-form-item>
          <el-form-item label="Publication year" prop="publicationYear">
            <el-input
              :value="book.publicationYear"
              @input="setBookField({ fieldLabel: 'publicationYear', value: Math.trunc($event) })"
              :precision="0"
              :controls="false"
            />
          </el-form-item>
          <el-form-item label="Release date" prop="releaseDate">
            <el-date-picker
              :format="$dateFormat"
              :value-format="$dateValueFormat"
              :value="book.releaseDate"
              @input="setBookField({ fieldLabel: 'releaseDate', value: $event })"
            />
          </el-form-item>
          <el-form-item label="Image">
            <my-image-upload
              :image-url="book.imageUrl"
              @upload="uploadBookImage"
              @remove="removeBookImage"
            />
          </el-form-item>
          <el-button
            class="card-edit-button"
            type="primary"
            :disabled="bookIsLoading || bookIsSaving"
            @click="save()"
          >
            Save
          </el-button>
          <el-button
            v-if="book.id"
            class="card-edit-button"
            type="danger"
            icon="el-icon-delete"
            :disabled="bookIsLoading || bookIsSaving"
            @click="remove()"
          >
            Remove
          </el-button>
        </el-form>
      </div>
    </el-main>
  </el-container>
</template>

<script>
  import moment from 'moment'
  import { createNamespacedHelpers } from 'vuex'
  import MyImageUpload from '../components/MyImageUpload'

  const { mapState, mapActions, mapMutations } = createNamespacedHelpers('books')

  const rules = {
    title: [
      { required: true, message: 'Please input book title' },
      { max: 30, message: 'Length should be up to 30 symbols' }
    ],
    authorName: [
      { required: true, message: 'Please input author name' },
      { max: 20, message: 'Length should be up to 20 symbols' }
    ],
    authorSurname: [
      { required: true, message: 'Please input author surname' },
      { max: 20, message: 'Length should be up to 20 symbols' }
    ],
    pageCount: [
      { type: 'number', required: true, message: 'Please input number of pages' },
      { type: 'number', min: 1, max: 10000, message: 'Number of pages should be from 1 to 10000' }
    ],
    publisher: [
      { max: 30, message: 'Length should be up to 30 symbols' }
    ],
    publicationYear: [
      { type: 'number', min: 1800, message: 'Publication year should starts from 1800', trigger: 'blur' }
    ],
    releaseDate: [
      {
        validator (rule, value, doneCallback) {
          const minDate = '1800-01-01'
          if (value <= minDate) {
            doneCallback(new Error(`release date should starts from ${moment(minDate).format('L')}`))
          } else {
            doneCallback()
          }
        }
      }
    ]
  }

  export default {
    name: 'BooksForm',
    components: { MyImageUpload },
    computed: {
      ...mapState(['book', 'bookIsLoading', 'bookHasLoadingError', 'bookIsMissing', 'bookIsSaving'])
    },
    data () {
      return {
        rules
      }
    },
    created () {
      const id = this.$route.params.id
      if (id && id !== 'add') {
        this.fetchBook(this.$route.params.id)
      } else {
        this.initBook()
      }
    },
    methods: {
      save () {
        this.$refs.form.validate((valid) => {
          if (valid) {
            this.saveBook().then(() => {
              this.$router.push({ name: 'Books' })
            })
          } else {
            return false
          }
        })
      },
      remove () {
        this.$confirm('This will permanently delete the book. Continue?', 'Warning', {
          confirmButtonText: 'Remove',
          confirmButtonClass: 'el-button--danger',
          cancelButtonText: 'Cancel',
          type: 'error'
        }).then(() => {
          this.removeBook().then(() => {
            this.$router.push({ name: 'Books' })
          })
        }).catch(() => {})
      },
      ...mapMutations(['setBookField', 'initBook', 'removeBookImage']),
      ...mapActions(['fetchBook', 'saveBook', 'removeBook', 'uploadBookImage'])
    }
  }
</script>

<style>
  .books-form {
    width: 520px;
  }
</style>
