<template>
  <div
    id="app"
    v-infinite-scroll="handleScrollLoad"
  >
    <el-menu
      router
      class="el-menu-demo"
      mode="horizontal">
      <el-menu-item index="Home" :route="{ name: 'Home' }">Home</el-menu-item>
      <el-menu-item index="Books" :route="{ name: 'Books' }">Books</el-menu-item>
    </el-menu>
    <el-row>
      <el-col
        :xs="{ offset: 0, span: 24 }"
        :sm="{ offset: 2, span: 20 }"
        :md="{ offset: 4, span: 16 }"
        :lg="{ offset: 5, span: 14 }"
        :xl="{ offset: 6, span: 12 }"
      >
        <router-view/>
      </el-col>
    </el-row>
  </div>
</template>

<script>
  const scrollListeners = []

  export default {
    name: 'App',
    provide: {
      onAppScroll (listener) {
        scrollListeners.push(listener)
        return () => {
          scrollListeners.splice(scrollListeners.indexOf(listener), 1)
        }
      }
    },
    methods: {
      handleScrollLoad () {
        scrollListeners.forEach(listener => listener())
      }
    }
  }
</script>

<style>
  body, html {
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
  }

  #app {
    height: 100%;
    overflow: auto;
  }
</style>
